In [45]:
import yfinance as yf
import pandas as pd
import pandas_ta as ta
import numpy as np
from functools import reduce

In [46]:
tickers = ["AMJ","XLY","XLB","^GSPC","^DJI","^IXIC","^NYA","^RUT"]
start_date = "2018-08-19"
end_date = "2023-09-30"
etf_data = {}
for ticker in tickers:
    data = yf.download(ticker, start=start_date, end=end_date)
    
    etf_data[ticker] = data

    
# ETF data frames
amj_df = etf_data["AMJ"]
xly_df = etf_data["XLY"]
xlb_df = etf_data["XLB"]

# Index data frames
gspc_df = etf_data["^GSPC"]
dji_df = etf_data["^DJI"]
ixic_df = etf_data["^IXIC"]
nya_df = etf_data["^NYA"]
rut_df = etf_data["^RUT"]

dji_df = dji_df.rename(columns={'Adj Close': 'DJI_Adj Close', 'Close': 'DJI_Close', 'High': 'DJI_High', 'Low': 'DJI_Low', 'Open': 'DJI_Open','Volume': 'DJI_Volume'})
gspc_df = gspc_df.rename(columns={'Adj Close': 'GSPC_Adj Close', 'Close': 'GSPC_Close', 'High': 'GSPC_High', 'Low': 'GSPC_Low', 'Open': 'GSPC_Open','Volume': 'GSPC_Volume'})
ixic_df = ixic_df.rename(columns={'Adj Close': 'IXIC_Adj Close', 'Close': 'IXIC_Close', 'High': 'IXIC_High', 'Low': 'IXIC_Low', 'Open': 'IXIC_Open','Volume': 'IXIC_Volume'})
nya_df = nya_df.rename(columns={'Adj Close': 'NYA_Adj Close', 'Close': 'NYA_Close', 'High': 'NYA_High', 'Low': 'NYA_Low', 'Open': 'NYA_Open','Volume': 'NYA_Volume'})
rut_df = rut_df.rename(columns={'Adj Close': 'RUT_Adj Close', 'Close': 'RUT_Close', 'High': 'RUT_High', 'Low': 'RUT_Low', 'Open': 'RUT_Open','Volume': 'RUT_Volume'})

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [47]:
etf_data

{'AMJ':                  Open       High        Low      Close  Adj Close   Volume
 Date
 2018-08-20  29.200001  29.549999  29.190001  29.510000  19.672087  1523300
 2018-08-21  29.510000  29.610001  29.230000  29.230000  19.485430  1050600
 2018-08-22  29.430000  29.559999  28.809999  29.520000  19.678753  1565700
 2018-08-23  29.410000  29.540001  29.320000  29.540001  19.692087   742500
 2018-08-24  29.469999  29.490000  29.260000  29.410000  19.605419  1288600
 ...               ...        ...        ...        ...        ...      ...
 2023-09-25  24.580000  24.870001  24.370001  24.719999  24.719999   710800
 2023-09-26  24.559999  24.600000  24.270000  24.299999  24.299999   181400
 2023-09-27  24.389999  24.660000  24.389999  24.600000  24.600000   384100
 2023-09-28  24.400000  24.879999  24.400000  24.870001  24.870001   604400
 2023-09-29  24.950001  24.950001  24.639999  24.700001  24.700001   275000

 [1287 rows x 6 columns],
 'XLY':                   Open        High         Low       Close   Adj Close  \
 Date
 2018-08-20  112.889999  113.370003  112.580002  113.309998  107.454201
 2018-08-21  113.639999  114.589996  113.589996  114.209999  108.307686
 2018-08-22  114.220001  114.889999  114.199997  114.330002  108.421471
 2018-08-23  114.419998  114.839996  114.010002  114.220001  108.317169
 2018-08-24  114.440002  115.029999  114.260002  114.889999  108.952530
 ...                ...         ...         ...         ...         ...
 2023-09-25  160.270004  162.259995  159.869995  161.919998  161.919998
 2023-09-26  160.449997  161.440002  158.619995  158.970001  158.970001
 2023-09-27  159.389999  159.910004  156.740005  158.360001  158.360001
 2023-09-28  157.779999  160.589996  157.380005  160.130005  160.130005
 2023-09-29  162.460007  163.080002  160.089996  160.979996  160.979996

              Volume
 Date
 2018-08-20  6569300
 2018-08-21  4171300
 2018-08-22  2757400
 2018-08-23  3994500
 2018-08-24  5259300
 ...             ...
 2023-09-25  4743400
 2023-09-26  5833500
 2023-09-27  6242500
 2023-09-28  5145900
 2023-09-29  6558300

 [1287 rows x 6 columns],
 'XLB':                  Open       High        Low      Close  Adj Close   Volume
 Date
 2018-08-20  58.540001  58.950001  58.540001  58.840000  52.784805  4841500
 2018-08-21  58.959999  59.340000  58.860001  59.070000  52.991135  4958000
 2018-08-22  59.040001  59.139999  58.700001  58.770000  52.722008  5432700
 2018-08-23  58.650002  58.650002  58.209999  58.369999  52.363171  4442000
 2018-08-24  58.680000  59.209999  58.619999  59.130001  53.044956  4951600
 ...               ...        ...        ...        ...        ...      ...
 2023-09-25  78.070000  79.029999  78.019997  78.989998  78.989998  4122800
 2023-09-26  78.510002  78.930000  77.629997  77.849998  77.849998  5475900
 2023-09-27  78.239998  78.349998  77.379997  77.839996  77.839996  5516000
 2023-09-28  77.980003  78.959999  77.980003  78.680000  78.680000  4699100
 2023-09-29  79.430000  79.440002  78.339996  78.550003  78.550003  5857200

 [1287 rows x 6 columns],
 '^GSPC':                    Open         High          Low        Close    Adj Close  \
 Date
 2018-08-20  2853.929932  2859.760010  2850.620117  2857.050049  2857.050049
 2018-08-21  2861.510010  2873.229980  2861.320068  2862.959961  2862.959961
 2018-08-22  2860.989990  2867.540039  2856.050049  2861.820068  2861.820068
 2018-08-23  2860.290039  2868.780029  2854.030029  2856.979980  2856.979980
 2018-08-24  2862.350098  2876.159912  2862.350098  2874.689941  2874.689941
 ...                 ...          ...          ...          ...          ...
 2023-09-25  4310.620117  4338.509766  4302.700195  4337.439941  4337.439941
 2023-09-26  4312.879883  4313.009766  4265.979980  4273.529785  4273.529785
 2023-09-27  4282.629883  4292.069824  4238.629883  4274.509766  4274.509766
 2023-09-28  4269.649902  4317.270020  4264.379883  4299.700195  4299.700195
 2023-09-29  4328.180176  4333.149902  4274.859863  4288.049805  4288.049805

                 Volume
 Date
 2018-08-20  2757150000
 2018-08-21  3174010000
 2018-08-22  2701250000
 2018-08-23  2724450000
 2018-08-24  2603010000
 ...                ...
 2023-09-25  3195650000
 2023-09-26  3472340000
 2023-09-27  3875880000
 2023-09-28  3846230000
 2023-09-29  3865960000

 [1287 rows x 6 columns],
 '^DJI':                     Open          High           Low         Close  \
 Date
 2018-08-20  25727.699219  25790.169922  25716.410156  25758.689453
 2018-08-21  25786.990234  25888.820312  25784.900391  25822.289062
 2018-08-22  25825.060547  25836.160156  25722.429688  25733.599609
 2018-08-23  25714.859375  25762.560547  25608.019531  25656.980469
 2018-08-24  25688.580078  25826.050781  25688.580078  25790.349609
 ...                  ...           ...           ...           ...
 2023-09-25  33907.589844  34017.531250  33780.671875  34006.878906
 2023-09-26  33862.679688  33879.929688  33569.601562  33618.878906
 2023-09-27  33682.808594  33731.648438  33306.300781  33550.269531
 2023-09-28  33519.441406  33777.898438  33473.500000  33666.339844
 2023-09-29  33882.609375  33893.679688  33407.449219  33507.500000

                Adj Close     Volume
 Date
 2018-08-20  25758.689453  248570000
 2018-08-21  25822.289062  241620000
 2018-08-22  25733.599609  200480000
 2018-08-23  25656.980469  213270000
 2018-08-24  25790.349609  200330000
 ...                  ...        ...
 2023-09-25  34006.878906  229450000
 2023-09-26  33618.878906  280100000
 2023-09-27  33550.269531  300330000
 2023-09-28  33666.339844  275610000
 2023-09-29  33507.500000  319830000

 [1287 rows x 6 columns],
 '^IXIC':                     Open          High           Low         Close  \
 Date
 2018-08-20   7834.370117   7837.140137   7787.899902   7821.009766
 2018-08-21   7840.089844   7897.680176   7836.790039   7859.169922
 2018-08-22   7844.040039   7897.629883   7840.839844   7889.100098
 2018-08-23   7886.470215   7926.319824   7866.529785   7878.459961
 2018-08-24   7907.810059   7949.709961   7907.100098   7945.979980
 ...                  ...           ...           ...           ...
 2023-09-25  13172.540039  13277.830078  13132.000000  13271.320312
 2023-09-26  13180.959961  13199.129883  13033.400391  13063.610352
 2023-09-27  13115.360352  13156.370117  12963.160156  13092.849609
 2023-09-28  13043.370117  13270.969727  13025.110352  13201.280273
 2023-09-29  13337.709961  13382.980469  13177.089844  13219.320312

                Adj Close      Volume
 Date
 2018-08-20   7821.009766  1709500000
 2018-08-21   7859.169922  1788860000
 2018-08-22   7889.100098  1669240000
 2018-08-23   7878.459961  1888600000
 2018-08-24   7945.979980  1892990000
 ...                  ...         ...
 2023-09-25  13271.320312  4100290000
 2023-09-26  13063.610352  4693540000
 2023-09-27  13092.849609  4841410000
 2023-09-28  13201.280273  4648390000
 2023-09-29  13219.320312  5138500000

 [1287 rows x 6 columns],
 '^NYA':                     Open          High           Low         Close  \
 Date
 2018-08-20  12930.150391  12973.559570  12929.429688  12965.099609
 2018-08-21  12998.040039  13032.250000  12993.950195  12996.759766
 2018-08-22  13007.570312  13013.059570  12983.019531  12990.509766
 2018-08-23  12978.589844  12988.209961  12922.839844  12933.459961
 2018-08-24  12968.820312  13011.690430  12964.299805  12999.440430
 ...                  ...           ...           ...           ...
 2023-09-25  15569.509766  15597.650391  15491.230469  15593.730469
 2023-09-26  15593.730469  15593.730469  15371.750000  15381.580078
 2023-09-27  15381.580078  15454.120117  15288.450195  15394.690430
 2023-09-28  15394.690430  15526.330078  15390.250000  15478.070312
 2023-09-29  15478.070312  15572.169922  15364.990234  15398.209961

                Adj Close      Volume
 Date
 2018-08-20  12965.099609  2757150000
 2018-08-21  12996.759766  3174010000
 2018-08-22  12990.509766  2701250000
 2018-08-23  12933.459961  2724450000
 2018-08-24  12999.440430  2603010000
 ...                  ...         ...
 2023-09-25  15593.730469  3195650000
 2023-09-26  15381.580078  3472340000
 2023-09-27  15394.690430  3875880000
 2023-09-28  15478.070312  3846230000
 2023-09-29  15398.209961  3865960000

 [1287 rows x 6 columns],
 '^RUT':                    Open         High          Low        Close    Adj Close  \
 Date
 2018-08-20  1693.790039  1701.130005  1690.180054  1698.689941  1698.689941
 2018-08-21  1698.910034  1722.290039  1698.910034  1718.050049  1718.050049
 2018-08-22  1717.750000  1723.010010  1715.800049  1722.540039  1722.540039
 2018-08-23  1722.300049  1723.410034  1712.920044  1717.050049  1717.050049
 2018-08-24  1718.359985  1726.969971  1718.359985  1725.670044  1725.670044
 ...                 ...          ...          ...          ...          ...
 2023-09-25  1768.670044  1788.030029  1766.540039  1784.239990  1784.239990
 2023-09-26  1774.640015  1786.050049  1761.609985  1761.609985  1761.609985
 2023-09-27  1771.160034  1786.599976  1765.640015  1778.900024  1778.900024
 2023-09-28  1778.030029  1802.609985  1777.890015  1794.310059  1794.310059
 2023-09-29  1805.469971  1809.689941  1781.050049  1785.099976  1785.099976

                 Volume
 Date
 2018-08-20  2757150000
 2018-08-21  3174010000
 2018-08-22  2701250000
 2018-08-23  2724450000
 2018-08-24  2603010000
 ...                ...
 2023-09-25  3195650000
 2023-09-26  3472340000
 2023-09-27  3875880000
 2023-09-28  3846230000
 2023-09-29  3865960000

 [1287 rows x 6 columns]}

In [48]:
def analytical_inferences(etf_data):
    '''
    Function calculates all inferences possible like RSI, EMA, SMA. 
    Input: 1 data frame containing ETF data 
    Output: The data frame with all calculated values for the particular ETF.
    '''
    rsi_period = 14
    # Calculate RSI
    etf_data['RSI'] = ta.rsi(etf_data['Adj Close'], length=rsi_period)

    # Calculate overbought/oversold conditions
    etf_data['Overbought'] = (etf_data['RSI'] > 70).astype(int)
    etf_data['Oversold'] = (etf_data['RSI'] < 30).astype(int)
    
    # Calculate divergence between price and RSI
    etf_data['Price_RSI_Divergence'] = etf_data['Close'].diff() - etf_data['RSI'].diff()
    
    # Calculate rate of change of RSI
    etf_data['ROC_RSI'] = etf_data['RSI'].pct_change() * 100
    
    # Calculate RSI trend confirmation
    etf_data['RSI_Trend_Confirmation'] = (etf_data['RSI'] > etf_data['RSI'].shift(1)).astype(int)
    
    # Assuming 'Close' is the column containing closing prices
    etf_data['EMA'] = ta.ema(etf_data['Close'], length=14)  # Adjust the period as needed
    
    # Feature 1: EMA over a specific period
    # Already calculated and stored in 'EMA' column
    
    # Feature 2: Difference between current price and EMA
    etf_data['Price_EMA_Difference'] = etf_data['Close'] - etf_data['EMA']
    
    # Feature 3: Slope of EMA
    etf_data['Slope_EMA'] = ta.slope(etf_data['EMA'])
    
    # Feature 4: EMA convergence or divergence
    etf_data['EMA_Convergence'] = (etf_data['Close'] > etf_data['EMA']).astype(int)
    etf_data['EMA_Divergence'] = (etf_data['Close'] < etf_data['EMA']).astype(int)
    
    # Feature 5: Rate of change of EMA
    etf_data['ROC_EMA'] = etf_data['EMA'].pct_change() * 100
    
    # Assuming 'Close' is the column containing closing prices
    etf_data['SMA'] = ta.sma(etf_data['Close'], length=14)  # Adjust the period as needed
    
    # Feature 1: SMA over a specific period
    # Already calculated and stored in 'SMA' column
    
    # Feature 2: Difference between current price and SMA
    etf_data['Price_SMA_Difference'] = etf_data['Close'] - etf_data['SMA']
    
    # Feature 3: Slope of SMA
    etf_data['Slope_SMA'] = ta.slope(etf_data['SMA'])
    
    # Feature 4: SMA convergence or divergence
    etf_data['SMA_Convergence'] = (etf_data['Close'] > etf_data['SMA']).astype(int)
    etf_data['SMA_Divergence'] = (etf_data['Close'] < etf_data['SMA']).astype(int)
    
    # Feature 5: Rate of change of SMA
    etf_data['ROC_SMA'] = etf_data['SMA'].pct_change() * 100
    
    dmi = ta.adx(etf_data.High, etf_data.Low, etf_data.Close)
    etf_data['ADX']=dmi['ADX_14']
    etf_data['DMI+']=dmi['DMP_14']
    etf_data['DMI-']=dmi['DMN_14']
    # Calculate ADX trend strength
    etf_data['ADX_Trend_Strength'] = etf_data['ADX'].rolling(window=3).mean()  # Adjust the rolling window parameter
    
    # Calculate DI convergence or divergence
    etf_data['DI_Convergence_Divergence'] = etf_data['DMI+'] - etf_data['DMI-']  # Adjust the length parameter
    return etf_data

In [49]:
amj_df = analytical_inferences(amj_df)
xly_df = analytical_inferences(xly_df)
xlb_df = analytical_inferences(xlb_df)

In [50]:
amj_combined_df = pd.DataFrame(reduce(lambda left, right: pd.merge(left, right, on='Date', how='outer'), [amj_df, dji_df, gspc_df, ixic_df, nya_df, rut_df]))
xly_combined_df = pd.DataFrame(reduce(lambda left, right: pd.merge(left, right, on='Date', how='outer'), [xly_df, dji_df, gspc_df, ixic_df, nya_df, rut_df]))
xlb_combined_df = pd.DataFrame(reduce(lambda left, right: pd.merge(left, right, on='Date', how='outer'), [xlb_df, dji_df, gspc_df, ixic_df, nya_df, rut_df]))

In [51]:
amj_combined_df

,Open,High,Low,Close,Adj Close,Volume,RSI,Overbought,Oversold,Price_RSI_Divergence,...,NYA_Low,NYA_Close,NYA_Adj Close,NYA_Volume,RUT_Open,RUT_High,RUT_Low,RUT_Close,RUT_Adj Close,RUT_Volume
Date,,,,,,,,,,,,,,,,,,,,,
2018-08-20,29.200001,29.549999,29.190001,29.510000,19.672087,1523300,NaN,0,0,NaN,...,12929.429688,12965.099609,12965.099609,2757150000,1693.790039,1701.130005,1690.180054,1698.689941,1698.689941,2757150000
2018-08-21,29.510000,29.610001,29.230000,29.230000,19.485430,1050600,NaN,0,0,NaN,...,12993.950195,12996.759766,12996.759766,3174010000,1698.910034,1722.290039,1698.910034,1718.050049,1718.050049,3174010000
2018-08-22,29.430000,29.559999,28.809999,29.520000,19.678753,1565700,NaN,0,0,NaN,...,12983.019531,12990.509766,12990.509766,2701250000,1717.750000,1723.010010,1715.800049,1722.540039,1722.540039,2701250000
2018-08-23,29.410000,29.540001,29.320000,29.540001,19.692087,742500,NaN,0,0,NaN,...,12922.839844,12933.459961,12933.459961,2724450000,1722.300049,1723.410034,1712.920044,1717.050049,1717.050049,2724450000
2018-08-24,29.469999,29.490000,29.260000,29.410000,19.605419,1288600,NaN,0,0,NaN,...,12964.299805,12999.440430,12999.440430,2603010000,1718.359985,1726.969971,1718.359985,1725.670044,1725.670044,2603010000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-09-25,24.580000,24.870001,24.370001,24.719999,24.719999,710800,67.282011,0,0,-3.744703,...,15491.230469,15593.730469,15593.730469,3195650000,1768.670044,1788.030029,1766.540039,1784.239990,1784.239990,3195650000
2023-09-26,24.559999,24.600000,24.270000,24.299999,24.299999,181400,54.600185,0,0,12.261825,...,15371.750000,15381.580078,15381.580078,3472340000,1774.640015,1786.050049,1761.609985,1761.609985,1761.609985,3472340000
2023-09-27,24.389999,24.660000,24.389999,24.600000,24.600000,384100,60.349195,0,0,-5.449009,...,15288.450195,15394.690430,15394.690430,3875880000,1771.160034,1786.599976,1765.640015,1778.900024,1778.900024,3875880000
2023-09-28,24.400000,24.879999,24.400000,24.870001,24.870001,604400,64.683708,0,0,-4.064513,...,15390.250000,15478.070312,15478.070312,3846230000,1778.030029,1802.609985,1777.890015,1794.310059,1794.310059,3846230000
2023-09-29,24.950001,24.950001,24.639999,24.700001,24.700001,275000,60.219975,0,0,4.293733,...,15364.990234,15398.209961,15398.209961,3865960000,1805.469971,1809.689941,1781.050049,1785.099976,1785.099976,3865960000