In [68]:
import yfinance as yf
import pandas as pd
import pandas_ta as ta

# Download ETF data from Yahoo Finance
tickers = ["AMJ"]
start_date = "2018-08-19"
end_date = "2023-09-30"
etf_data = yf.download(tickers, start=start_date, end=end_date)
etf_data

[*********************100%%**********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close   Volume
Date
2018-08-20  29.200001  29.549999  29.190001  29.510000  19.672089  1523300
2018-08-21  29.510000  29.610001  29.230000  29.230000  19.485428  1050600
2018-08-22  29.430000  29.559999  28.809999  29.520000  19.678753  1565700
2018-08-23  29.410000  29.540001  29.320000  29.540001  19.692085   742500
2018-08-24  29.469999  29.490000  29.260000  29.410000  19.605423  1288600
...               ...        ...        ...        ...        ...      ...
2023-09-25  24.580000  24.870001  24.370001  24.719999  24.719999   710800
2023-09-26  24.559999  24.600000  24.270000  24.299999  24.299999   181400
2023-09-27  24.389999  24.660000  24.389999  24.600000  24.600000   384100
2023-09-28  24.400000  24.879999  24.400000  24.870001  24.870001   604400
2023-09-29  24.950001  24.950001  24.639999  24.700001  24.700001   275000

[1287 rows x 6 columns]

In [69]:

# Define the period for RSI
rsi_period = 14

# Calculate RSI
etf_data['RSI'] = ta.rsi(etf_data['Adj Close'], length=rsi_period)

# Calculate overbought/oversold conditions
etf_data['Overbought'] = (etf_data['RSI'] > 70).astype(int)
etf_data['Oversold'] = (etf_data['RSI'] < 30).astype(int)

# Calculate divergence between price and RSI
etf_data['Price_RSI_Divergence'] = etf_data['Close'].diff() - etf_data['RSI'].diff()

# Calculate rate of change of RSI
etf_data['ROC_RSI'] = etf_data['RSI'].pct_change() * 100

# Calculate RSI trend confirmation
etf_data['RSI_Trend_Confirmation'] = (etf_data['RSI'] > etf_data['RSI'].shift(1)).astype(int)

# Assuming 'Close' is the column containing closing prices
etf_data['EMA'] = ta.ema(etf_data['Close'], length=14)  # Adjust the period as needed

# Feature 1: EMA over a specific period
# Already calculated and stored in 'EMA' column

# Feature 2: Difference between current price and EMA
etf_data['Price_EMA_Difference'] = etf_data['Close'] - etf_data['EMA']

# Feature 3: Slope of EMA
etf_data['Slope_EMA'] = ta.slope(etf_data['EMA'])

# Feature 4: EMA convergence or divergence
etf_data['EMA_Convergence'] = (etf_data['Close'] > etf_data['EMA']).astype(int)
etf_data['EMA_Divergence'] = (etf_data['Close'] < etf_data['EMA']).astype(int)

# Feature 5: Rate of change of EMA
etf_data['ROC_EMA'] = etf_data['EMA'].pct_change() * 100

# Assuming 'Close' is the column containing closing prices
etf_data['SMA'] = ta.sma(etf_data['Close'], length=14)  # Adjust the period as needed

# Feature 1: SMA over a specific period
# Already calculated and stored in 'SMA' column

# Feature 2: Difference between current price and SMA
etf_data['Price_SMA_Difference'] = etf_data['Close'] - etf_data['SMA']

# Feature 3: Slope of SMA
etf_data['Slope_SMA'] = ta.slope(etf_data['SMA'])

# Feature 4: SMA convergence or divergence
etf_data['SMA_Convergence'] = (etf_data['Close'] > etf_data['SMA']).astype(int)
etf_data['SMA_Divergence'] = (etf_data['Close'] < etf_data['SMA']).astype(int)

# Feature 5: Rate of change of SMA
etf_data['ROC_SMA'] = etf_data['SMA'].pct_change() * 100

# Display the DataFrame with calculated features
etf_data

,Open,High,Low,Close,Adj Close,Volume,RSI,Overbought,Oversold,Price_RSI_Divergence,...,Slope_EMA,EMA_Convergence,EMA_Divergence,ROC_EMA,SMA,Price_SMA_Difference,Slope_SMA,SMA_Convergence,SMA_Divergence,ROC_SMA
Date,,,,,,,,,,,,,,,,,,,,,
2018-08-20,29.200001,29.549999,29.190001,29.510000,19.672089,1523300,NaN,0,0,NaN,...,NaN,0,0,NaN,NaN,NaN,NaN,0,0,NaN
2018-08-21,29.510000,29.610001,29.230000,29.230000,19.485428,1050600,NaN,0,0,NaN,...,NaN,0,0,NaN,NaN,NaN,NaN,0,0,NaN
2018-08-22,29.430000,29.559999,28.809999,29.520000,19.678753,1565700,NaN,0,0,NaN,...,NaN,0,0,NaN,NaN,NaN,NaN,0,0,NaN
2018-08-23,29.410000,29.540001,29.320000,29.540001,19.692085,742500,NaN,0,0,NaN,...,NaN,0,0,NaN,NaN,NaN,NaN,0,0,NaN
2018-08-24,29.469999,29.490000,29.260000,29.410000,19.605423,1288600,NaN,0,0,NaN,...,NaN,0,0,NaN,NaN,NaN,NaN,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-09-25,24.580000,24.870001,24.370001,24.719999,24.719999,710800,67.282011,0,0,-3.744703,...,0.056426,1,0,0.232238,24.257857,0.462143,0.037143,1,0,0.153351
2023-09-26,24.559999,24.600000,24.270000,24.299999,24.299999,181400,54.600185,0,0,12.261825,...,-0.007097,0,1,-0.029142,24.293571,0.006428,0.035714,1,0,0.147228
2023-09-27,24.389999,24.660000,24.389999,24.600000,24.600000,384100,60.349195,0,0,-5.449009,...,0.033849,1,0,0.139034,24.344285,0.255715,0.050714,1,0,0.208756
2023-09-28,24.400000,24.879999,24.400000,24.870001,24.870001,604400,64.683708,0,0,-4.064513,...,0.065336,1,0,0.267991,24.408571,0.461430,0.064286,1,0,0.264069
2023-09-29,24.950001,24.950001,24.639999,24.700001,24.700001,275000,60.219975,0,0,4.293733,...,0.033958,1,0,0.138914,24.466428,0.233572,0.057857,1,0,0.237037

In [70]:
dmi = ta.adx(etf_data.High, etf_data.Low, etf_data.Close)
etf_data['ADX']=dmi['ADX_14']
etf_data['DMI+']=dmi['DMP_14']
etf_data['DMI-']=dmi['DMN_14']
# Calculate ADX trend strength
etf_data['ADX_Trend_Strength'] = etf_data['ADX'].rolling(window=3).mean()  # Adjust the rolling window parameter

# Calculate DI convergence or divergence

etf_data['DI_Convergence_Divergence'] = etf_data['DMI+'] - etf_data['DMI-']  # Adjust the length parameter

In [71]:
etf_data.isna().sum()

Open                          0
High                          0
Low                           0
Close                         0
Adj Close                     0
Volume                        0
RSI                          14
Overbought                    0
Oversold                      0
Price_RSI_Divergence         15
ROC_RSI                      15
RSI_Trend_Confirmation        0
EMA                          13
Price_EMA_Difference         13
Slope_EMA                    14
EMA_Convergence               0
EMA_Divergence                0
ROC_EMA                      14
SMA                          13
Price_SMA_Difference         13
Slope_SMA                    14
SMA_Convergence               0
SMA_Divergence                0
ROC_SMA                      14
ADX                          27
DMI+                         14
DMI-                         14
ADX_Trend_Strength           29
DI_Convergence_Divergence    14
dtype: int64

In [72]:
etf_data=etf_data.dropna()

In [73]:
etf_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1258 entries, 2018-10-01 to 2023-09-29
Data columns (total 29 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Open                       1258 non-null   float64
 1   High                       1258 non-null   float64
 2   Low                        1258 non-null   float64
 3   Close                      1258 non-null   float64
 4   Adj Close                  1258 non-null   float64
 5   Volume                     1258 non-null   int64
 6   RSI                        1258 non-null   float64
 7   Overbought                 1258 non-null   int32
 8   Oversold                   1258 non-null   int32
 9   Price_RSI_Divergence       1258 non-null   float64
 10  ROC_RSI                    1258 non-null   float64
 11  RSI_Trend_Confirmation     1258 non-null   int32
 12  EMA                        1258 non-null   float64
 13  Price_EMA_Difference       1258 non-null   float64
 14  Slope_EMA                  1258 non-null   float64
 15  EMA_Convergence            1258 non-null   int32
 16  EMA_Divergence             1258 non-null   int32
 17  ROC_EMA                    1258 non-null   float64
 18  SMA                        1258 non-null   float64
 19  Price_SMA_Difference       1258 non-null   float64
 20  Slope_SMA                  1258 non-null   float64
 21  SMA_Convergence            1258 non-null   int32
 22  SMA_Divergence             1258 non-null   int32
 23  ROC_SMA                    1258 non-null   float64
 24  ADX                        1258 non-null   float64
 25  DMI+                       1258 non-null   float64
 26  DMI-                       1258 non-null   float64
 27  ADX_Trend_Strength         1258 non-null   float64
 28  DI_Convergence_Divergence  1258 non-null   float64
dtypes: float64(21), int32(7), int64(1)
memory usage: 260.4 KB

In [74]:
import yfinance as yf
import numpy as np
tickers =['^GSPC','^DJI','^IXIC','^NYA','^RUT']
start_date = "2018-10-01"
end_date = "2023-09-30"
indexdf = yf.download(tickers, start=start_date, end=end_date)

[*********************100%%**********************]  5 of 5 completed

In [75]:
indexdf

               Adj Close                                           \
                    ^DJI        ^GSPC         ^IXIC          ^NYA
Date
2018-10-01  26651.210938  2924.590088   8037.299805  13125.349609
2018-10-02  26773.939453  2923.429932   7999.549805  13106.009766
2018-10-03  26828.390625  2925.510010   8025.089844  13118.549805
2018-10-04  26627.480469  2901.610107   7879.509766  13042.299805
2018-10-05  26447.050781  2885.570068   7788.450195  12991.950195
...                  ...          ...           ...           ...
2023-09-25  34006.878906  4337.439941  13271.320312  15593.730469
2023-09-26  33618.878906  4273.529785  13063.610352  15381.580078
2023-09-27  33550.269531  4274.509766  13092.849609  15394.690430
2023-09-28  33666.339844  4299.700195  13201.280273  15478.070312
2023-09-29  33507.500000  4288.049805  13219.320312  15398.209961

                                Close                             \
                   ^RUT          ^DJI        ^GSPC         ^IXIC
Date
2018-10-01  1672.989990  26651.210938  2924.590088   8037.299805
2018-10-02  1656.040039  26773.939453  2923.429932   7999.549805
2018-10-03  1671.290039  26828.390625  2925.510010   8025.089844
2018-10-04  1646.910034  26627.480469  2901.610107   7879.509766
2018-10-05  1632.109985  26447.050781  2885.570068   7788.450195
...                 ...           ...          ...           ...
2023-09-25  1784.239990  34006.878906  4337.439941  13271.320312
2023-09-26  1761.609985  33618.878906  4273.529785  13063.610352
2023-09-27  1778.900024  33550.269531  4274.509766  13092.849609
2023-09-28  1794.310059  33666.339844  4299.700195  13201.280273
2023-09-29  1785.099976  33507.500000  4288.049805  13219.320312

                                       ...          Open               \
                    ^NYA         ^RUT  ...          ^DJI        ^GSPC
Date                                   ...
2018-10-01  13125.349609  1672.989990  ...  26598.359375  2926.290039
2018-10-02  13106.009766  1656.040039  ...  26648.910156  2923.800049
2018-10-03  13118.549805  1671.290039  ...  26833.470703  2931.689941
2018-10-04  13042.299805  1646.910034  ...  26784.080078  2919.350098
2018-10-05  12991.950195  1632.109985  ...  26632.769531  2902.540039
...                  ...          ...  ...           ...          ...
2023-09-25  15593.730469  1784.239990  ...  33907.589844  4310.620117
2023-09-26  15381.580078  1761.609985  ...  33862.679688  4312.879883
2023-09-27  15394.690430  1778.900024  ...  33682.808594  4282.629883
2023-09-28  15478.070312  1794.310059  ...  33519.441406  4269.649902
2023-09-29  15398.209961  1785.099976  ...  33882.609375  4328.180176

                                                        Volume              \
                   ^IXIC          ^NYA         ^RUT       ^DJI       ^GSPC
Date
2018-10-01   8091.500000  13146.299805  1697.829956  238320000  3375890000
2018-10-02   8024.470215  13108.740234  1672.979980  258290000  3432620000
2018-10-03   8034.649902  13146.679688  1656.310059  280130000  3625510000
2018-10-04   7993.330078  13089.230469  1671.000000  289600000  3510370000
2018-10-05   7874.759766  13043.469727  1647.250000  267100000  3340820000
...                  ...           ...          ...        ...         ...
2023-09-25  13172.540039  15569.509766  1768.670044  229450000  3195650000
2023-09-26  13180.959961  15593.730469  1774.640015  280100000  3472340000
2023-09-27  13115.360352  15381.580078  1771.160034  300330000  3875880000
2023-09-28  13043.370117  15394.690430  1778.030029  275610000  3846230000
2023-09-29  13337.709961  15478.070312  1805.469971  319830000  3865960000


                 ^IXIC        ^NYA        ^RUT
Date
2018-10-01  2299520000  3375890000  3375890000
2018-10-02  2416800000  3432620000  3432620000
2018-10-03  3095630000  3625510000  3625510000
2018-10-04  3302690000  3510370000  3510370000
2018-10-05  2699370000  3340820000  3340820000
...                ...         ...         ...
2023-09-25  4100290000  3195650000  3195650000
2023-09-26  4693540000  3472340000  3472340000
2023-09-27  4841410000  3875880000  3875880000
2023-09-28  4648390000  3846230000  3846230000
2023-09-29  5138500000  3865960000  3865960000

[1258 rows x 30 columns]

In [61]:
indexdf.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1258 entries, 2018-10-01 to 2023-09-29
Data columns (total 30 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   (Adj Close, ^DJI)   1258 non-null   float64
 1   (Adj Close, ^GSPC)  1258 non-null   float64
 2   (Adj Close, ^IXIC)  1258 non-null   float64
 3   (Adj Close, ^NYA)   1258 non-null   float64
 4   (Adj Close, ^RUT)   1258 non-null   float64
 5   (Close, ^DJI)       1258 non-null   float64
 6   (Close, ^GSPC)      1258 non-null   float64
 7   (Close, ^IXIC)      1258 non-null   float64
 8   (Close, ^NYA)       1258 non-null   float64
 9   (Close, ^RUT)       1258 non-null   float64
 10  (High, ^DJI)        1258 non-null   float64
 11  (High, ^GSPC)       1258 non-null   float64
 12  (High, ^IXIC)       1258 non-null   float64
 13  (High, ^NYA)        1258 non-null   float64
 14  (High, ^RUT)        1258 non-null   float64
 15  (Low, ^DJI)         1258 non-null   float64
 16  (Low, ^GSPC)        1258 non-null   float64
 17  (Low, ^IXIC)        1258 non-null   float64
 18  (Low, ^NYA)         1258 non-null   float64
 19  (Low, ^RUT)         1258 non-null   float64
 20  (Open, ^DJI)        1258 non-null   float64
 21  (Open, ^GSPC)       1258 non-null   float64
 22  (Open, ^IXIC)       1258 non-null   float64
 23  (Open, ^NYA)        1258 non-null   float64
 24  (Open, ^RUT)        1258 non-null   float64
 25  (Volume, ^DJI)      1258 non-null   int64
 26  (Volume, ^GSPC)     1258 non-null   int64
 27  (Volume, ^IXIC)     1258 non-null   int64
 28  (Volume, ^NYA)      1258 non-null   int64
 29  (Volume, ^RUT)      1258 non-null   int64
dtypes: float64(25), int64(5)
memory usage: 304.7 KB

In [76]:
# Get the unique symbols in the second level of the MultiIndex
symbols = indexdf.columns.get_level_values(1).unique()

# Create a dictionary to store DataFrames for each symbol
dfs = {}

# Split the DataFrame based on symbols
for symbol in symbols:
    dfs[symbol] = indexdf.xs(key=symbol, axis=1, level=1)

# Access individual DataFrames using their corresponding symbols
df_dji = dfs["^DJI"]
df_gspc = dfs["^GSPC"]
df_ixic = dfs["^IXIC"]
df_nya = dfs["^NYA"]
df_rut = dfs["^RUT"]

In [77]:
df_dji = df_dji.rename(columns={'Adj Close': 'DJI_Adj Close', 'Close': 'DJI_Close', 'High': 'DJI_High', 'Low': 'DJI_Low', 'Open': 'DJI_Open','Volume': 'DJI_Volume'})
df_gspc = df_gspc.rename(columns={'Adj Close': 'GSPC_Adj Close', 'Close': 'GSPC_Close', 'High': 'GSPC_High', 'Low': 'GSPC_Low', 'Open': 'GSPC_Open','Volume': 'GSPC_Volume'})
df_ixic = df_ixic.rename(columns={'Adj Close': 'IXIC_Adj Close', 'Close': 'IXIC_Close', 'High': 'IXIC_High', 'Low': 'IXIC_Low', 'Open': 'IXIC_Open','Volume': 'IXIC_Volume'})
df_nya = df_nya.rename(columns={'Adj Close': 'NYA_Adj Close', 'Close': 'NYA_Close', 'High': 'NYA_High', 'Low': 'NYA_Low', 'Open': 'NYA_Open','Volume': 'NYA_Volume'})
df_rut = df_rut.rename(columns={'Adj Close': 'RUT_Adj Close', 'Close': 'RUT_Close', 'High': 'RUT_High', 'Low': 'RUT_Low', 'Open': 'RUT_Open','Volume': 'RUT_Volume'})

In [78]:
from functools import reduce
# List of DataFrames
dfs = [etf_data, df_dji, df_gspc, df_ixic, df_nya, df_rut]

# Merge DataFrames using reduce and lambda function
merged_df = pd.DataFrame(reduce(lambda left, right: pd.merge(left, right, on='Date', how='outer'), dfs))

In [79]:
merged_df

,Open,High,Low,Close,Adj Close,Volume,RSI,Overbought,Oversold,Price_RSI_Divergence,...,NYA_High,NYA_Low,NYA_Open,NYA_Volume,RUT_Adj Close,RUT_Close,RUT_High,RUT_Low,RUT_Open,RUT_Volume
Date,,,,,,,,,,,,,,,,,,,,,
2018-10-01,27.520000,28.139999,27.520000,28.049999,19.019577,1278100,51.864098,0,0,-13.987695,...,13169.799805,13099.940430,13146.299805,3375890000,1672.989990,1672.989990,1703.810059,1669.819946,1697.829956,3375890000
2018-10-02,28.059999,28.150000,27.860001,27.920000,18.931433,1524200,49.153028,0,0,2.581072,...,13129.019531,13069.150391,13108.740234,3432620000,1656.040039,1656.040039,1674.869995,1653.339966,1672.979980,3432620000
2018-10-03,27.950001,28.250000,27.900000,28.120001,19.067049,1296000,53.205939,0,0,-3.852911,...,13175.610352,13101.139648,13146.679688,3625510000,1671.290039,1671.290039,1677.170044,1656.310059,1656.310059,3625510000
2018-10-04,28.070000,28.120001,27.870001,27.910000,18.924654,1635800,48.806965,0,0,4.188973,...,13099.370117,12975.870117,13089.230469,3510370000,1646.910034,1646.910034,1671.000000,1643.660034,1671.000000,3510370000
2018-10-05,27.820000,28.190001,27.809999,27.950001,18.951775,1352900,49.660631,0,0,-0.813665,...,13069.129883,12935.650391,13043.469727,3340820000,1632.109985,1632.109985,1651.530029,1618.140015,1647.250000,3340820000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-09-25,24.580000,24.870001,24.370001,24.719999,24.719999,710800,67.282011,0,0,-3.744703,...,15597.650391,15491.230469,15569.509766,3195650000,1784.239990,1784.239990,1788.030029,1766.540039,1768.670044,3195650000
2023-09-26,24.559999,24.600000,24.270000,24.299999,24.299999,181400,54.600185,0,0,12.261825,...,15593.730469,15371.750000,15593.730469,3472340000,1761.609985,1761.609985,1786.050049,1761.609985,1774.640015,3472340000
2023-09-27,24.389999,24.660000,24.389999,24.600000,24.600000,384100,60.349195,0,0,-5.449009,...,15454.120117,15288.450195,15381.580078,3875880000,1778.900024,1778.900024,1786.599976,1765.640015,1771.160034,3875880000
2023-09-28,24.400000,24.879999,24.400000,24.870001,24.870001,604400,64.683708,0,0,-4.064513,...,15526.330078,15390.250000,15394.690430,3846230000,1794.310059,1794.310059,1802.609985,1777.890015,1778.030029,3846230000
2023-09-29,24.950001,24.950001,24.639999,24.700001,24.700001,275000,60.219975,0,0,4.293733,...,15572.169922,15364.990234,15478.070312,3865960000,1785.099976,1785.099976,1809.689941,1781.050049,1805.469971,3865960000